ac-comphist.dat
archive-contents
anything-c-adaptive-history
auto-save-list
fujimoto_settings.py
restart.sh
all_migrate.sh
url
tramp
eijiro
skk-jisyo.utf8
.DS_Store
*.svn
TAGS
*.elc
*.pyc
*.swp
.#*
\#*
~$*
*_flymake.*
