[mysqld]
# Query log
general_log=1
general_log_file="/tmp/sql.log"
log_output=FILE

# Slow Query log
slow_query_log=1
slow_query_log_file="/tmp/slow_sql.log"
log_queries_not_using_indexes
log_slow_admin_statements