url
shellenv
places
.python-environments

settings/fujimoto_local.toml
uzou-run.sh

fujimoto_settings.py
private_config.py
restart.sh
demo_reset.sql
restart.sh
all_migrate.sh
pylintrc
python2.7
.mc-lists.el
.DS_Store
.python-version
*.svn
*.pyc
*.swp
*.jar
*.test
~$*
Physics2DSettings.asset
PrincessofKilling.acf
UnityKeyRemapEditor*
my_all_load.sh
#.swiftlint.yml
staging.dump
psysh
.ac-php-conf.json
fuel/app/tasks/shell.php
.zsh_history
ex_lib
*.beam
site-packages
tmux-*.log
.claude
.serena

# emacs
.#*
\#*
*.elc
*_flymake.*
TAGS
GPATH
GRTAGS
GTAGS
cache
eijiro
private
semanticdb
archive-contents
el-get
auto-save-list
ac-comphist.dat
anything-c-adaptive-history
tramp
site-lisp
el-get
elpa
code-skeletons
97-work.el
97-gamewith.el

.envrc
.env.project
.gitconfig.local
